body{
    font-family: sans-serif;
    text-align: center;
    
}

a:link {

    color:#88B3F7

}

a:visited{

    color:#C585E2
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: rgb(205, 193, 181);
    border: 6px solid rgb(187, 173, 160);
    /* background-color: rgb(50, 62, 74);
    border: 6px solid rgb(68, 82, 95); */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid rgb(187, 173, 160);
    /* border: 5px solid rgb(68, 82, 95); */

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background-color: rgb(238, 228, 218);
    color: rgb(114, 115, 113);

}

.x4 {
    background-color: rgb(236, 224, 202);
    color: rgb(114, 115, 113);

}

.x8 {
    background-color: rgb(244, 177, 122);
    color: rgb(255, 255, 255);
}

.x16{
    background-color: rgb(245, 149, 117);
    color: rgb(255, 255, 255);

}

.x32{
    background-color: rgb(245, 124, 95);
    color: rgb(255, 255, 255);

}

.x64{
    background-color: rgb(246, 93, 59);
    color: rgb(255, 255, 255);

}

.x128{
    background-color: rgb(237, 206, 113);
    color: rgb(255, 255, 255);
}

.x256{
    background-color: rgb(237, 204, 99);
    color: rgb(255, 255, 255);
}

.x512{
    background-color: rgb(237, 198, 81);
    color: rgb(255, 255, 255);
}

.x1024{
    background-color: rgb(238, 199, 68);
    color: rgb(255, 255, 255);
}

.x2048{
    background-color: rgb(236, 194, 48);
    color: rgb(255, 255, 255);
}

.x4096 {
    background-color: rgb(254, 61, 61);
    color: rgb(255, 255, 255);
}

.x8192 {
    background-color: rgb(255, 32, 32);
    color: rgb(255, 255, 255);
}